<ng-container class="flex flex-1" *ngIf="service.item$ | async as user">
  <div class="flex-col items-center bg-app-primary">
    <app-user-avatar></app-user-avatar>
    <p>or maybe a silhouette</p>
    <div class="pt-4">
      <div class="text-center">
        {{ completed(user.enrollments) }} Courses Completed
      </div>
      <div class="text-center">
        {{ assigned(user.enrollments) }} Courses Assigned
      </div>
      <div class="text-center">
        {{ in_progress(user.enrollments) }} Courses In Progress
      </div>
    </div>
  </div>
</ng-container>
