<div *ngIf="original" class="w-full">
  <!-- class="uppercase text-gray-700 text-xs font-bold inline-block mb-1.5" -->
  <!-- class="uppercase text-gray-700 text-xs font-bold block mb-0" -->
  <label
    *ngIf="label"
    class="text-gray-700 text-xs font-bold inline-block mb-1.5"
    >{{ label }}</label
  >
  <ng-content></ng-content>
  <p class="text-red-500 text-xs italic" *ngIf="required">* Required</p>

  <!-- 
<div *ngIf="!original" class="relative">
  <ng-content></ng-content>
  <label
    for="{{ name }}"
    class="
      absolute
      left-0
      -top-3.5
      text-gray-600 text-sm
      transition-all
      peer-placeholder-shown:text-base
      peer-placeholder-shown:text-gray-400
      peer-placeholder-shown:top-2
      peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm
    "
    >{{ label }}</label
  >
  <p class="text-red-500 text-xs italic" *ngIf="required">* Required</p>
</div>
 -->
</div>
