<div class="flex h-screen">
  <!-- <div class="align-items flex w-8/12 flex-col justify-center">
    <div class="overflow-none sticky top-0">
      <ng-template #contentContainer></ng-template>
    </div>
  </div> -->

  <div class="flex flex-col w-8/12 overflow-none top-0">
    <ng-template #contentContainer></ng-template>
  </div>

  <ng-container *ngIf="playerService.item$ | async as player">
    <div class="relative h-full flex-1 flex-col">
      <div class="h-full rounded bg-[#fafafa]">
        <div class="sticky top-0">
          <div class="flex flex-row items-center bg-[#cccccc] px-2 py-4">
            <img [src]="player.course.image" alt="" class="mr-3 w-20" />
            <p class="text-md">
              {{ player.course.description | truncate: 70 }}
            </p>
          </div>
          <app-player-meta></app-player-meta>
        </div>
        <ul class="overflow-y-auto">
          <li
            *ngFor="
              let item of playerService.playlistItems$ | async;
              let index = index;
              let last = last
            "
          >
            <app-player-item [item]="item"> ></app-player-item>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
