<!-- bg-gray-200 -->
<div class="p-10">
  <div
    class="
      flex flex-col
      border border-blue-700
      divide-solid divide-y-2 divide-slate-400/25
      bg-gray-200
      divide-y
    "
  >
    <div class="p-3 text-3xl text-black leading-10">Course Request</div>
    <div class="p-3">
      <div>
        Please use this form to submit requests for additional courses.
        <br /><br />
        Additional courses could take as much as 30-45 days to complete. To
        expedite the process, please provide a POC for a subject matter expert
        for your course.
      </div>
    </div>
    <div class="p-3"><app-course-request-form></app-course-request-form></div>
  </div>
</div>
