<div class="relative flex justify-center">
    <div
      class="overflow-hidden"
      [style.width]="width + 'px'"
      (mousedown)="onMousedown($event)"
      (touchstart)="onTouchdown($event)"
      (mousemove)="onMousemove($event, list.scrollWidth)"
      (touchmove)="onTouchmove($event, list.scrollWidth)"
      (mouseup)="onMouseup($event, list)"
      (mouseleave)="onMouseup($event, list)"
      (touchend)="onTouchup($event, list)"
    >
      <div
        class="flex transition duration-1000"
        [attr.startPress]="startPress"
        [style.transition]="startPress > 0 ? 'none' : '-webkit-transform 1s'"
        [style.webkitTransition]="
          startPress > 0 ? 'none' : '-webkit-transform 1s'
        "
        [style.transform]="'translateX(' + amount + 'px)'"
        [style.webkitTransform]="'translateX(' + amount + 'px)'"
        #list
      >
        <ng-template
          *ngFor="let item of items; let i = index"
          [ngTemplateOutlet]="$item"
          [ngTemplateOutletContext]="{
            $implicit: item,
            index: i,
            selectedIndex: childIndex
          }"
        ></ng-template>
      </div>
    </div>
    <div class="pointer-events-none absolute flex w-full justify-between top-1/2 left-0 -translate-y-2/4" *ngIf="$prev || $next">
      <button
        type="button"
        *ngIf="$prev"
        (click)="scroll(false, list)"
        [disabled]="amount >= 0"
      >
        <ng-template [ngTemplateOutlet]="$prev"></ng-template>
      </button>
      <button
        type="button"
        *ngIf="$next"
        (click)="scroll(true, list)"
        [disabled]="amount <= -(list.scrollWidth - width)"
      >
        <ng-template [ngTemplateOutlet]="$next"></ng-template>
      </button>
    </div>
  </div>