<ng-container *ngIf="category">
  <div class="p-3 w-full flex flex-col overflow-hidden bg-gray-300">
    <!-- <pre>{{ category | json }}</pre> -->
    <div class="w-full flex flex-col items-center">
      <a [routerLink]="['/course/category', category.id]">
        <img class="h-48 scale-75 items-center" [src]="category?.image" />
        <div class="w-full flex-col">
          <div class="font-bold">{{ category?.name }}</div>
          <div class="text-sm">
            {{ category?.description | truncate: 100 }}
          </div>
        </div>
      </a>
    </div>
    <div class="w-full bg-white flex flex-row grow-0">
      <app-course-card-small
        *ngFor="let course of category.courses"
        [course]="course"
      ></app-course-card-small>
    </div>
  </div>
</ng-container>
