<div *appHasRole="menu.role || 'user'" class="group relative">
  <button
    class="
      text-app-primary
      mr-6
      whitespace-nowrap
      hover:bg-app-secondary
      transition-all
      rounded
    "
    (click)="!menu.items && navigate(menu.link)"
  >
    {{ menu.text }}
  </button>
  <nav
    *ngIf="menu.items"
    class="
      border border-2
      bg-white
      invisible
      border-gray-800
      rounded
      w-60
      absolute
      z-20
      left-0
      top-full
      transition-all
      opacity-0
      group-focus-within:visible
      group-focus-within:opacity-100
      group-focus-within:translate-y-1
    "
  >
    <ul class="py-1">
      <li *ngFor="let item of menu.items">
        <a
          [routerLink]="item.link"
          class="block px-4 py-2 whitespace-nowrap hover:bg-gray-100"
          >{{ item.text }}</a
        >
      </li>
    </ul>
  </nav>
</div>
