<div class="group" *ngIf="currentEnrollment$ | async as currentEnrollment">
  <div
    class="
      w-full
      p-4
      block
      shadow-md
      rounded-lg
      overflow-hidden
      bg-white
      group-hover:shadow-xl
    "
  >
    <div class="relative pb-48 overflow-hidden">
      <div
        class="
          absolute
          h-full
          w-full
          bg-no-repeat bg-contain bg-center
          z-0
          group-hover:transition-opacity group-hover:grayscale-[50]
        "
        [ngStyle]="{ backgroundImage: 'url(' + course.image + ')' }"
      ></div>
      <div class="hidden group-hover:block">
        <div
          class="
            object-cover
            absolute
            bottom-2
            left-2
            z-10
            flex
            text-xl text-black
            font-bold
          "
        >
          {{ course.name }}
        </div>
      </div>
    </div>

    <div class="h-48 w-full">
      <div class="visibile h-full group-hover:hidden">
        <app-chip *ngFor="let tag of course.tags" [text]="tag.name"></app-chip>
        <div class="p-4">
          <h2 class="mt-2 mb-2 font-bold">{{ course.name }}</h2>
        </div>
        <div class="p-4 border-t border-b text-xs text-gray-700">
          <span class="flex items-center mb-1">
            <i class="fa fa-clock-o mr-2 text-gray-900"></i>
            Updated: {{ course.dateUpdated | date: 'dd MMM YYYY' }}
          </span>
          <span class="flex items-center">
            <i class="fa fa-clock-o mr-2 text-gray-900"></i>
            Published: {{ course.datePublished | date: 'dd MMM YYYY' }}
          </span>
        </div>
        <app-rating-stars
          [rating]="course.rating"
          [maxRating]="maxRating"
        ></app-rating-stars>
      </div>
      <div
        class="
          hidden
          group-hover:flex
          group-hover:h-full
          group-hover:items-center
          group-hover:justify-center
          group-hover:flex-col
          group-hover:grow
          group-hover:bg-gray-100
        "
      >
        <app-launch-button
          class="flex-row w-full"
          button_text="Launch"
          (clicked)="launchCourse(currentEnrollment)"
        ></app-launch-button>
        <p class="flex-row text-center w-full">or</p>
        <app-enroll-button
          class="flex-row w-full"
          *ngIf="!currentEnrollment.currentlyEnrolled"
          button_text="Assign"
          (clicked)="assignCourse(currentEnrollment)"
        ></app-enroll-button>
        <app-enroll-button
          class="flex-row w-full"
          *ngIf="currentEnrollment.currentlyEnrolled"
          button_text="UnAssign"
          (clicked)="unAssignCourse(currentEnrollment)"
        ></app-enroll-button>
      </div>
    </div>
  </div>
</div>
