<!-- <div class="flex flex-row"> -->
<!-- <app-user-info></app-user-info>
  <div class="w-full grid grid-cols-2 grid-flow-row">
    <app-category-panel
      class="px-6"
      *ngFor="let category of categoryService.items$ | async"
      [category]="category"
      [allowCategoryNavigate]="true"
    ></app-category-panel>
  </div> -->

  <div class="min-h-full">
    <!-- 
      <div
        class="flex w-full"
        *ngFor="let category of categoryService.items$ | async"
      >
        <app-category-carousel
          class="w-full"
          [category]="category"
          [allowCategoryNavigate]="true"
        ></app-category-carousel>
  
      </div>
   -->
  
    <app-category-carousel
      class="w-full min-h-full"
      [items]="categoryService.items$ | async"
      [allowCategoryNavigate]="true"
    ></app-category-carousel>
  </div>
  