.footer-class {
    background-color: rgb(54, 65, 75);
    bottom: 0;
    width: full;
  }
  
  .footer-group-heading {
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 12%;
    width: 1/5;
    color: rgb(165, 161, 161);
  }
  
  
  .footer-group-heading-text {
    color: rgb(216, 209, 209);
    font-size: 12px;
  }
  
  .footer-group-heading-last {
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 1/5;
    color: rgb(165, 161, 161);
  }
  
  .bottom-footer-class {
    background-color: white;
    bottom: 0;
    width: full;
    padding-right: 0%;
    padding-left: 20%;
    padding-bottom:5px;
    font-size: 12px;
    font-weight: bold;
    color: gray;
    
  
  }
  