<div
  class="relative group"
  *ngIf="currentEnrollment$ | async as currentEnrollment"
>
  <!-- if enrolled, display the corner ribbon -->
  <app-enrolled *ngIf="currentEnrollment.currentlyEnrolled"></app-enrolled>
  <div
    class="
      p-2
      block
      shadow-md
      rounded-lg
      overflow-hidden
      bg-white
      group-hover:shadow-xl
    "
  >
    <div class="relative pb-16 w-40 overflow-hidden">
      <div
        class="
          absolute
          h-full
          w-full
          bg-no-repeat bg-contain bg-center
          z-0
          group-hover:transition-opacity group-hover:grayscale-[50]
        "
        [ngStyle]="{ backgroundImage: 'url(' + course.image + ')' }"
      ></div>
      <div class="hidden group-hover:block">
        <div
          class="
            object-cover
            absolute
            bottom-1
            left-1
            z-10
            flex
            text-xs text-black
            font-bold
          "
        >
          {{ course.name }}
        </div>
      </div>
    </div>

    <div class="relative h-46 w-40">
      <app-chip *ngFor="let tag of course.tags" [text]="tag.name"></app-chip>
      <div class="visibile text-xs h-full group-hover:hidden">
        <div class="p-2 h-16">
          <h2 class="mt-1 mb-1 font-bold">{{ course.name | truncate: 25 }}</h2>
        </div>
        <div class="p-2 border-t border-b text-xs text-gray-700">
          <span class="flex items-center">
            <i class="fa fa-clock-o mr-2 text-gray-900"></i>
            Published: {{ course.datePublished | date: 'dd MMM YYYY' }}
          </span>
          <span class="flex items-center mb-1">
            <i class="fa fa-clock-o mr-2 text-gray-900"></i>
            Updated: {{ course.dateUpdated | date: 'dd MMM YYYY' }}
          </span>
        </div>
        <app-rating-stars
          [rating]="course.rating"
          [maxRating]="maxRating"
        ></app-rating-stars>
      </div>
      <div
        class="
          hidden
          group-hover:flex
          group-hover:flex-col
          group-hover:grow
          group-hover:h-full
          group-hover:items-center
          group-hover:justify-center
          group-hover:bg-gray-100
        "
      >
        <div class="h-10"></div>
        <app-launch-button
          class="w-full"
          button_text="Launch"
          (clicked)="launchCourse(currentEnrollment)"
        ></app-launch-button>
        <p class="text-center w-full">or</p>
        <app-enroll-button
          class="w-full"
          *ngIf="!currentEnrollment.currentlyEnrolled"
          button_text="Assign"
          (clicked)="assignCourse(currentEnrollment)"
        ></app-enroll-button>
        <app-enroll-button
          class="w-full"
          *ngIf="currentEnrollment.currentlyEnrolled"
          button_text="UnAssign"
          (clicked)="unAssignCourse(currentEnrollment)"
        ></app-enroll-button>
        <div class="h-10"></div>
      </div>
    </div>
  </div>
</div>
