<div>

  <div class="p-10">
    filter
  </div>
  
  <div class="p-10
        flex flex-col
        border border-blue-700
        divide-solid divide-y-2 divide-slate-400/25
        bg-gray-200
        divide-y
      "
    >
    <div class="p-3">
      <app-table
        [columns]="columns()"
        [data]="service.items$ | async"
        [pagination]="service.pagination$ | async"
        (add)="add()"
        (edit)="edit($event)"
        (delete)="delete($event)"
      ></app-table>
    </div>
  </div>

</div>
