<div class="p-10 inline-flex flex-row grow items-stretch">
  <div class="p-8">filter</div>

  <!-- <div
    class="
      p-8
      flex flex-col
      grow
      items-stretch
      border border-blue-700
      divide-solid divide-y-2 divide-slate-400/25
      bg-gray-200
      divide-y
    "
  > -->
  <div class="p-3 grow items-stretch">
    <app-table
      class="fixed"
      [columns]="columns()"
      [data]="service.items$ | async"
      [pagination]="service.pagination$ | async"
      (add)="add()"
      (edit)="edit($event)"
      (delete)="delete($event)"
    ></app-table>
  </div>
  <!-- </div> -->
</div>

<app-right-side-modal>
  <app-course-modal class="w-1/2"></app-course-modal>
</app-right-side-modal>
