<svg
  version="1.1"
  id="Layer_1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px"
  y="0px"
  viewBox="0 0 512 512"
  style="enable-background: new 0 0 512 512"
  xml:space="preserve"
>
  <style type="text/css">
    .st0 {
    	fill: #80c2b8;
    }
    .st1 {
    	fill: #ffffff;
    }
  </style>
  <g>
    <rect class="st0" width="512" height="512" />
    <path
      class="st1"
      d="M322.67,322.67H189.33V189.33h133.33V322.67z M200.44,311.56h111.11V200.44H200.44V311.56z"
    />
    <rect x="311.56" y="156" class="st1" width="11.11" height="22.22" />
    <rect x="333.78" y="189.33" class="st1" width="22.22" height="11.11" />
    <rect x="189.33" y="156" class="st1" width="11.11" height="22.22" />
    <rect x="156" y="189.33" class="st1" width="22.22" height="11.11" />
    <rect x="311.56" y="333.78" class="st1" width="11.11" height="22.22" />
    <rect x="333.78" y="311.56" class="st1" width="22.22" height="11.11" />
    <rect x="189.33" y="333.78" class="st1" width="11.11" height="22.22" />
    <rect x="156" y="311.56" class="st1" width="22.22" height="11.11" />
  </g>
</svg>
