<div class="carousel__container">
    <div class="relative z-0 overflow-hidden">
      <div
        *ngIf="infinite || currentSlide > 0"
        class="absolute top-0 bottom-0 left-0 z-10 p-3.5 flex items-center"
      >
        <button
          (click)="previousSlide($event)"
          class="cursor-pointer border-none bg-transparent w-8 h-8 p-0"
        >
          <svg viewBox="0 0 20 20">
            <polyline
              points="12 2, 7 10, 12 18"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              fill="transparent"
              stroke-linejoin="round"
            ></polyline>
          </svg>
        </button>
      </div>
      <!-- carousel__slides -->
      <ol
        [style.left.%]="currentSlide * -100"
        class="
          flex
          relative
          transition
          duration-300
          ease-in-out
          list-none
          p-0
          m-0
          min-h-[24px]
        "
        (mouseenter)="stopInterval()"
        (mouseleave)="startInterval()"
      >
        <!-- [ngClass]="{'carousel__slide--active':index===currentSlide}" -->
        <li
          *ngFor="let slide of slides; let index = index"
          class="
            relative
            box-border
            h-full
            w-full
            px-16
            min-w-full
            max-w-full
            <!--
            transition-opacity
            duration-300
            ease-in-out
            -->
            <!--
            transform
            -->
          "
          [ngClass]="{
            '
              opacity-0
              select-none
              pointer-events-none
              z-0
        ':
              index !== currentSlide
          }"
        >
          <pre>index: {{ index }}</pre>
          <ng-container [ngTemplateOutlet]="slide.template"></ng-container>
        </li>
      </ol>
      <div
        *ngIf="infinite || currentSlide < slides.length - 1"
        class="
          absolute
          top-0
          bottom-0
          left-0
          z-10
          p-3.5
          flex
          items-center
          left-auto
          right-0
        "
      >
        <button
          (click)="nextSlide($event)"
          class="cursor-pointer border-none bg-transparent w-8 h-8 p-0"
        >
          <svg viewBox="0 0 20 20">
            <polyline
              points="8 2, 13 10, 8 18"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              fill="transparent"
              stroke-linejoin="round"
            ></polyline>
          </svg>
        </button>
      </div>
    </div>
    <pre>bullets: {{ bullets }}</pre>
    <pre>currentSlide: {{ currentSlide }}</pre>
    <!-- <pre>slides: {{ slides | json }}</pre> -->
    <ng-container *ngIf="bullets === undefined || bullets">
      <ol class="flex items-center justify-center flex-wrap list-none p-0 mt-2.5">
        <li *ngFor="let slide of slides; let index = index">
          <button
            (click)="goToSlide(index + 1, $event)"
            [ngClass]="{ 'cursor-default': index === currentSlide }"
            class="block border-none p-0 m-0 cursor-pointer"
          >
            <span class="sr-only">{{ index + 1 }}</span>
          </button>
        </li>
      </ol>
    </ng-container>
  </div>
  