<div class="carousel__container">
    <div
        class="
            <!-- carousel__slider -->
            relative
            z-0
            overflow-hidden
        ">
      <div
        *ngIf="infinite || currentSlide > 0"
        class="
            <!-- carousel__previous -->
            absolute
            top-0
            bottom-0
            left-0
            z-10
            p-3.5
            flex
            items-center
        ">
        <button
            (click)="previousSlide($event)"
            class="
                cursor-pointer
                border-none
                bg-transparent
                w-8
                h-8
                p-0          
            "
        >
          <svg viewBox="0 0 20 20">
            <polyline points="12 2, 7 10, 12 18"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      fill="transparent"
                      stroke-linejoin="round"></polyline>
          </svg>
        </button>
      </div>
      <ol
        [style.left.%]="currentSlide * -100"
        class="
            <!-- carousel__slides -->
            flex
            relative
            transition
            duration-300
            <!-- transition: left 300ms ease-in-out; -->
            list-none
            p-0
            m-0
            min-h-[24px]
        "
        (mouseenter)="stopInterval()"
        (mouseleave)="startInterval()">
        <li *ngFor="let slide of slides; let index = index" [ngClass]="{'carousel__slide--active':index===currentSlide}"
            class="carousel__slide">
          <ng-container [ngTemplateOutlet]="slide.template"></ng-container>
        </li>
      </ol>
      <div
        *ngIf="infinite || currentSlide < slides.length - 1"
        class="
            <!-- carousel__next -->
            absolute
            top-0
            bottom-0
            left-0
            z-10
            p-3.5
            flex
            items-center
          

            left-auto
            right-0
        ">
        <button
            (click)="nextSlide($event)"
            class="
                cursor-pointer
                border-none
                bg-transparent
                w-8
                h-8
                p-0          
            "
        >
          <svg viewBox="0 0 20 20">
            <polyline points="8 2, 13 10, 8 18"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      fill="transparent"
                      stroke-linejoin="round"></polyline>
          </svg>
        </button>
      </div>
    </div>
    <ng-container *ngIf="bullets === undefined || bullets">
      <ol
        class="
            carousel__bullets
            flex
            items-center
            justify-center
            flex-wrap
            list-none
            p-0
            mt-2.5
        ">
        <li *ngFor="let slide of slides; let index = index">
          <button
            (click)="goToSlide(index + 1, $event)"
            [ngClass]="{'<!-- opacity-100 bg-[#6366F1] --> cursor-default':index===currentSlide}"
            class="
                carousel__bullet
                block
                border-none
                p-0
                m-0
                cursor-pointer              
                <!-- h-2
                w-2
                rounded-bl-full
                bg-[#64748B]
                opacity-25
                hover:opacity-60 -->
            ">
            <span class="sr-only">{{ index + 1 }}</span>
          </button>
        </li>
      </ol>
    </ng-container>
  </div>