<div class="px-4 z-40">
  <form [formGroup]="Form" class="w-full max-w-lg mt-4">
    <app-form-value-renderer></app-form-value-renderer>
    <input
      class="
        block
        bg-gray-200
        text-gray-700
        border-red-500
        rounded
        px-1
        w-full
        h-12
      "
      name="id"
      formControlName="id"
      type="hidden"
    />

    <ng-container class="w-full" *ngFor="let element of elements">
      <app-form-input
        class="p-px w-1/2 ml-2.5 text-xs"
        [label]="element.label"
        [name]="element.name"
        [placeholder]="element.label"
        [required]="element.required"
      >
        <ng-container [ngSwitch]="element.type">
          <app-checkbox-group
            *ngSwitchCase="'checkbox-group'"
            formControlName="{{element.name}}"
          >
            <!-- <app-checkbox *ngFor="let item of items" [value]="item.value" [label]="item.label"></app-checkbox> -->
          </app-checkbox-group>
          
          <textarea
            *ngSwitchCase="'textarea'"
            class="
              text-xs
              bg-white
              text-gray-700
              border border-solid border-blue-700
              rounded
            "
            [id]="element.name"
            [name]="element.name"
            [formControlName]="element.name"
            [placeholder]="element.label"
          ></textarea>

          <select
            *ngSwitchCase="'select'"
            class="
              text-xs
              bg-white
              text-gray-700
              border border-solid border-blue-700
              rounded
            "
            [name]="element.name"
            [formControlName]="element.name"
          >
            <option *ngFor="let option of element.options" [value]="option.id">
              {{ option.name }}
            </option>
          </select>
          <app-requestor-info-form
            *ngSwitchCase="'RequestorInfoForm'"
            [formControlName]="element.name"
          ></app-requestor-info-form>
          <input
            *ngSwitchDefault
            class="
              h-10
              text-xs
              bg-white
              text-gray-700
              border border-solid border-blue-700
              rounded
            "
            [name]="element.name"
            [formControlName]="element.name"
            [type]="element.type"
            [placeholder]="element.label"
          />
        </ng-container>
      </app-form-input>
    </ng-container>

    <div *ngIf="displaySave" class="grid">
      <button class="button rounded p-3 bg-slate-400" (click)="save()">
        Save
      </button>
    </div>
  </form>
</div>
