<span
  class="
    relative
    text-app-accent
    inline-block
    rounded-full
    px-2
    py-1
    text-xs
    font-semibold
    uppercase
    leading-none
    tracking-wide
    text-app-primary
  "
  (click)="clicked.emit()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-7 w-7"
    viewBox="0 0 20 20"
    fill="currentColor"
  >
    <path
      d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
    />
  </svg>
  <!-- <span class="absolute inset-0 object-right-top -mr-6">
    <div
      class="
        inline-flex
        items-center
        px-1.5
        py-0.5
        border-2 border-white
        rounded-full
        text-xs
        font-semibold
        leading-4
        bg-red-500
        text-white
      "
    >
      6
    </div>
  </span> -->
</span>
