<ng-container [formGroup]="form" class="w-full flex flex-col">
  <app-form-input class="p-px" label="" [required]="false">
    <input
      class="
        h-10
        bg-white
        text-gray-700
        border border-solid border-blue-700
        rounded
      "
      id="name"
      type="text"
      formControlName="name"
      placeholder="Name"
      (blur)="formTouchFn()"
    />
  </app-form-input>

  <app-form-input class="p-px w-1/2 ml-2.5" label="Email" [required]="true">
    <input
      class="
        h-10
        bg-white
        text-gray-700
        border border-solid border-blue-700
        rounded
      "
      id="email"
      type="email"
      formControlName="email"
      required
      placeholder="Email"
      (blur)="formTouchFn()"
    />
    <div class="invalid-feedback">Not a valid email address</div>
  </app-form-input>

  <app-form-input class="p-px w-1/2 ml-2.5" label="Phone Number">
    <input
      class="
        h-10
        bg-white
        text-gray-700
        border border-solid border-blue-700
        rounded
      "
      id="phoneNumber"
      type="text"
      formControlName="phoneNumber"
      placeholder="Phone Number"
      (blur)="formTouchFn()"
    />
  </app-form-input>
</ng-container>
