<nav class="top-0 mt-1 w-full">
	<div class="flex items-center">
		<div class="ml-6 flex w-1/3 justify-start">
			<app-brand class="h-full w-16"></app-brand>
		</div>

		<div class="flex w-1/3 items-center justify-center">
			<app-menu-items-dropdown
				*ngFor="let menu of menu.mainMenuDropdown$ | async"
				[menu]="menu"
				text_color="text-app-base"
			></app-menu-items-dropdown>
		</div>

		<div class="mr-6 flex w-1/3 items-center justify-end">
			<app-searchbar></app-searchbar>
			<app-bell-icon></app-bell-icon>
			<app-user-avatar></app-user-avatar>
		</div>
	</div>
</nav>
