<div
  class="
    absolute
    -top-[5px]
    -right-[5px]
    z-50
    overflow-hidden
    h-[75px]
    w-[75px]
    text-right
  "
>
  <span
    class="
      block
      absolute
      bg-[#79a70a]
      top-[17px]
      text-[10px]
      -right-[21px]
      w-[100px]
      leading-5
      font-bold
      text-center
      uppercase
      rotate-45
      bg-gradient
      from-[#9bc90d]/0
      to-[#79a70a]/100
      shadow-[0_3px_10px_-5px_rgba(0,0,0,1)]
    "
    >Enrolled</span
  >
</div>
