
<div class="w-full h-full" >
  <!-- style="max-width:750px;margin:5vh auto;" -->
  <carousel [infinite]="true" [auto]="true" [bullets]="false">
    <ng-container *ngFor="let item of items">
      <div *carouselSlide>
        <article
        class="
          slide
          flex
          items-center
          justify-center
          text-base
          rounded-lg
          w-full
          h-full
          absolute
          overflow-hidden
          bg-yellow-500
        "
        *ngFor="let item of items"
      >
        <span class="flex w-1/2 items-center justify-center">
          <img class="h-48 scale-75" [src]="item?.image" />
        </span>
        <span class="flex w-1/3 flex-col justify-center">
          <p class="font-bold">{{ item?.name }}</p>
          <p class="text-sm">{{ item?.description | truncate: 100 }}</p>
        </span>
      </article>
      </div>
    </ng-container>
  </carousel>
</div>

<!-- <div
  class="
    bg-grey-500
  "
>
  <carousel
    class="
      carousel-html-content
      flex
      w-4/5
      justify-center
      items-center
      bg-gray-500
    "
    [cellsToShow]="1"
    [arrows]="true"
    [dots]="true"
    [counter]="true"
    [arrowsOutside]="false"
  >
    <article
      class="
        carousel-cell
        flex
        items-center
        justify-center
        text-base
        rounded-lg
        w-full
        h-full
        absolute
        overflow-hidden
        bg-yellow-500
      "
      *ngFor="let item of items"
    >
      <span class="flex w-1/2 items-center justify-center">
        <img class="h-48 scale-75" [src]="item?.image" />
      </span>
      <span class="flex w-1/3 flex-col justify-center">
        <p class="font-bold">{{ item?.name }}</p>
        <p class="text-sm">{{ item?.description | truncate: 100 }}</p>
      </span>
    </article>
  </carousel>
</div> -->

<!-- <div class="w-full">
  <div
    carousel
    [startAt]="0"
    [width]="250"
    [items]="items"
    [$item]="itemTemplate"
    [$prev]="prevTemplate"
    [$next]="nextTemplate"
    (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"
  ></div>

  <div>
    Current item selected
    {{ selectedIndex }}
  </div>

  <ng-template #prevTemplate>
    <button
      class="
        text-black
        opacity-80
        border border-solid border-white
        rounded-lg
        py-1
        px-2.5
        cursor-pointer
      "
    >
      Previous
    </button>
  </ng-template>

  <ng-template #nextTemplate>
    <button
      class="
        text-black
        opacity-80
        border border-solid border-white
        rounded-lg
        py-1
        px-2.5
        cursor-pointer
      "
    >
      Next
    </button>
  </ng-template>

  <ng-template let-item let-i="index" #itemTemplate>
    <div *ngIf="i === selectedIndex" class="flex justify-center">
      <div class="flex w-1/2 items-center justify-center">
        <img class="h-48 scale-75" [src]="item?.image" />
      </div>
      <div class="flex w-1/2 flex-col justify-center">
        <div class="font-bold">{{ item?.name }}</div>
        <div class="text-sm">{{ item?.description | truncate: 100 }}</div>
      </div>
    </div>
  </ng-template>

</div> -->
