<!-- <table class="table-auto min-w-full mb-4 text-left border">
  <thead class="bg-black flex text-left">
    <tr class="flex w-full">
      <ng-container *ngFor="let column of tableColumns">
        <th
          class="text-sm font-medium text-white px-6 py-2 break-normal w-1/4"
          *ngIf="column.tableDisplay"
        >
          {{ column.label }}
        </th>
      </ng-container>
      <th class="text-sm font-medium text-white px-6 py-2 break-normal w-1/4">
        Actions
      </th>
    </tr>
  </thead>
  <tbody
    class="bg-grey-light flex flex-col overflow-y-scroll text-left"
    style="height: 50vh;"
  >
    <tr
      *ngFor="let row of data; index as i"
      class="flex"
      [ngClass]="{ 'bg-gray-200': i % 2 !== 0 }"
    >
      <ng-container *ngFor="let column of tableColumns">
        <td
          class="text-sm text-gray-900 font-light break-normal w-1/4"
          *ngIf="column.tableDisplay"
        >
          {{
            column.data
              ? column.data(row)
              : column.dateFormat
              ? (row[column.name] | date: column.dateFormat)
              : row[column.name]
          }}
        </td>
      </ng-container>
      <td>
        <button
          type="button"
          class="
            flex-row
            w-full
            h-8
            rounded-md
            border
            bg-gray-300
            font-bold
            text-gray-500
            hover:bg-gray-200 hover:text-gray-600
          "
          (click)="edit.emit(row['id'])"
        >
          Edit
        </button>
        <button
          type="button"
          class="
            flex-row
            w-full
            h-8
            rounded-md
            border
            bg-gray-300
            font-bold
            text-gray-500
            hover:bg-gray-200 hover:text-gray-600
          "
          (click)="delete.emit(row['id'])"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table> -->

<ng-container *ngIf="columns">
  <div class="px-4 py-2 flex flex-row justify-end">
    <app-button-add (click)="add.emit()"></app-button-add>
  </div>

  <div class="flex flex-col items-center justify-evenly">
    <!-- <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8"> -->
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full py-2">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="border-b">
              <tr>
                <ng-container *ngFor="let column of columns$ | async">
                  <th
                    scope="col"
                    class="
                      px-6
                      py-4
                      text-left text-sm
                      font-medium
                      text-gray-900
                    "
                    *ngIf="column.tableDisplay"
                  >
                    {{ column.label }}
                  </th>
                </ng-container>
                <th
                  scope="col"
                  class="
                    px-6
                    py-4
                    text-left text-sm
                    font-medium
                    text-gray-900
                    whitespace-nowrap
                    break-words
                  "
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody class="bg-grey-light overflow-y-scroll h-1/5">
              <!-- style="height: 20vh" -->
              <tr
                *ngFor="let row of data; index as i"
                class="border-b content-center"
              >
                <ng-container *ngFor="let column of columns$ | async">
                  <!-- whitespace-nowrap -->
                  <td
                    *ngIf="column.tableDisplay"
                    class="
                      px-6
                      py-4
                      text-sm
                      font-light
                      text-gray-900
                      whitespace-nowrap
                    "
                  >
                    {{
                      column.data
                        ? column.data(row)
                        : column.dateFormat
                        ? (row[column.name] | date: column.dateFormat)
                        : (row[column.name] | truncate: 50)
                    }}
                  </td>
                </ng-container>
                <!-- Actions column -->
                <td class="justify-items-center">
                  <div class="flex justify-evenly">
                    <app-button-edit
                      (clicked)="edit.emit(row)"
                    ></app-button-edit>

                    <app-button-delete
                      (clicked)="delete.emit(row)"
                    ></app-button-delete>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <app-pagination
    *ngIf="pagination !== {}"
    [pagination]="pagination"
  ></app-pagination>
</ng-container>
